<h1> Spider's Web </h1>
<p> We are a revolutionary new social media platform designed for Spider-People and their allies. The stunning and innovative communication channel is enabling conversations across the Spider-Verse. Our users are protectors of the multiverse. Our network is... </p>
<ul>
  <li> <b>Unrestricted.</b> <p>No longer at the mercy of arbitrary character limits, express yourself in as many words as desired.</p> </li>
  <li> <b>Safe.</b> <p>We pride ourselves on offering the most secure environment. Your data is important to us. We take the utmost care in ensuring your information is safe.</p> </li>
  <li> <b>Free.</b> <p>Our service is completely free, no webs attached. (Although we reserve the right to sell all your personal information to third-party advertising agencies.)</p> </li>
</ul>

<p> See what our <a href="/testimonials">users</a> have to say about us. Sign up and join the global conversation. </p>
<p> Background image can be found <a href = "https://sitejerk.com/images/transparent-spider-web-4.png" >here </a></p>