<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> Spider's Web </title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <main>
    <nav>
      <ul class="nav-links">
        <li><a href="/"> Home </a></li>
        <li><a href="/search"> Search </a></li>
        <li><a href="/prefs"> Preferences </a></li>
        <li><a href="/logout"> Logout </a></li>
      </ul>
    </nav>
    <%= yield %>
    </main>
  </body>
</html>
