<h1> Testimonials </h1>

<p> See what our most excellent users have to say about <b>Spider's Web</b>. </p>

<blockquote>
  Does that mean you're finally moving out of the basement?
  &mdash; Dad
</blockquote>

<blockquote>
  How can we integrate this with the <i>blockchain</i>?
  &mdash; Investors
</blockquote>

<blockquote>
  Who am I?
  &mdash; 24601
</blockquote>

<blockquote>
  Don't you have a project to do? Why are you still reading my fake testimonials?
  &mdash; Me
</blockquote>
